@model FicRecs.WebApp.Models.StoryListViewModel

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Characters)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chapters)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Words)
            </th>
            @if (ShowDetail)
            {
                <th>
                    @Html.DisplayNameFor(model => model.Reviews)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Favs)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Follows)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.Published)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Complete)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Fics) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Summary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Characters)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chapters)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Words)
            </td>
            @if (ShowDetail)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Reviews)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Favs)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Follows)
                </td>
            }
            <td>
                @(item.Published.HasValue ? item.Published.Value.ToString("yyyy-MM-dd") : "Unknown")
            </td>
            <td>
                @if (item.Complete == true)
                {
                    <text>Complete</text>
                }
                else if (item.Complete == false)
                {
                    <text>Incomplete</text>
                }
                else if (item.Complete == null)
                {
                    <text>Unknown</text>
                }
            </td>
            <td>
                <div class="table-button">
                    <a class="btn btn-primary" target="_blank" href="@Html.DisplayFor(modelItem => item.Url)">View</a>
                </div>
                @if (ShowSimilarButton)
                {
                    <div class="table-button">
                        <form method="GET">
                            <input type="hidden" name="storyId" value="@item.StoryId" />
                            <button type="submit" class="btn btn-default">Similar</button>
                        </form>
                    </div>
                }
            </td>
        </tr>
}
    </tbody>
</table>
