@model StoryPaginationViewModel

<a class="pagination-link" data-page="1"><< First</a> | <a class="pagination-link" data-page="@(Math.Max(Model.CurrentPage - 1, 1))">< Prev</a> | Page @Model.CurrentPage of @Model.TotalPages | <a class="pagination-link" data-page="@(Math.Min(Model.CurrentPage + 1, Model.TotalPages))">Next ></a> | <a class="pagination-link" data-page="@Model.TotalPages">Last >></a>