@model FicRecs.DatabaseLib.StoryDetails

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>StoryDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Summary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Summary)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Characters)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Characters)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Chapters)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Chapters)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Words)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Words)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Reviews)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Reviews)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Favs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Favs)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Follows)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Follows)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Published)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Published)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Complete)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Complete)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StoryId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
